[submodule "./scripts/prig/#master"]
	path = scripts/prig
	url = https://github.com/tim42/prig.git
	branch = master
[submodule "./scripts/prig//../generators/grab#grab-generator"]
	path = scripts/generators/grab
	url = https://github.com/tim42/prig.git
	branch = grab-generator
[submodule "./scripts/prig//../generators/github#github-generator"]
	path = scripts/generators/github
	url = https://github.com/tim42/prig.git
	branch = github-generator
[submodule "third_party/tools#"]
	path = third_party/tools
	url = https://github.com//tim42/tools
	branch = master
[submodule "third_party/cml#"]
	path = third_party/cml
	url = https://github.com//CruizeMissile/cml
	branch = master
[submodule "third_party/scaffold#"]
	path = third_party/scaffold
	url = https://github.com/CruizeMissile/scaffold.git
	branch = master
[submodule "third_party/tim42_tools#"]
	path = third_party/tim42_tools
	url = https://github.com//tim42/tools
	branch = master
[submodule "third_party/CruizeMissile_cml#"]
	path = third_party/CruizeMissile_cml
	url = https://github.com//CruizeMissile/cml
	branch = master
